.aider*
.env
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/additional_project_files.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/additional_project_files.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/additional_project_files.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/additional_project_files.txt
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/android_gradle_build.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/android_gradle_build.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/android_gradle_build.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/android_gradle_build.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/android_gradle_build.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/android_gradle_build_mini.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/android_gradle_build_mini.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/android_gradle_build_mini.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/android_gradle_build_mini.json
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/build.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/build.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/build.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/build.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/build.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/build_file_index.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/build_file_index.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/build_file_index.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/build_file_index.txt
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/.cmake/api/v1/query/client-agp/cache-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/query/client-agp/cache-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/reply/cache-v2-908cafe2305b2f08db61.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/reply/cache-v2-a8e85f7e6ad0677efa0e.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/reply/cache-v2-a597b8d60d2c39bdf832.json
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/.cmake/api/v1/reply/cache-v2-b8b583e59729042f2a35.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/reply/cache-v2-c9cc7be47d2fbe787b62.json
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/cmake.check_cache
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/cmake.check_cache
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/cmake.check_cache
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/cmake.check_cache
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/cmake.check_cache
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/cmake_install.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/cmake_install.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/cmake_install.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/cmake_install.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/cmake_install.cmake
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeCache.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeCache.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeCache.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeCache.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeCache.txt
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-00d2069da4b95d507240.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-1dc7c8cdaae28c286b8c.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/reply/cmakeFiles-v1-1f8136f0bf6f6551cb92.json
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/.cmake/api/v1/reply/cmakeFiles-v1-4abb54c7761675493179.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-361751305a2c581ffb8d.json
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-3d410e58cd220ccd23af.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/reply/codemodel-v2-6f5152f99ee118d0e9b9.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/reply/codemodel-v2-6480401f88777299503b.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-a8a42858199a658e8ed9.json
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/.cmake/api/v1/reply/codemodel-v2-b3804dff7b08906d5e18.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/configure_fingerprint.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/configure_fingerprint.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/configure_fingerprint.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/configure_fingerprint.bin
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/hash_key.txt
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/.cmake/api/v1/reply/index-2025-03-13T08-10-14-0551.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/.cmake/api/v1/reply/index-2025-03-15T02-40-04-0801.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/.cmake/api/v1/reply/index-2025-03-15T02-40-05-0154.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/.cmake/api/v1/reply/index-2025-03-15T02-40-05-0322.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/.cmake/api/v1/reply/index-2025-03-15T02-40-05-0490.json
/.idea/kotlinc.xml
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/metadata_generation_command.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/metadata_generation_command.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/metadata_generation_command.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/metadata_generation_command.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/metadata_generation_command.txt
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/prefab_config.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/prefab_config.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/prefab_config.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/prefab_config.json
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/prefab_config.json
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/rules.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/rules.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/rules.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/rules.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/rules.ninja
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/symbol_folder_index.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/symbol_folder_index.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/symbol_folder_index.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/symbol_folder_index.txt
/we_all_belong/android/app/.cxx/Debug/4s242d37/x86/CMakeFiles/TargetDirectories.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/arm64-v8a/CMakeFiles/TargetDirectories.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86/CMakeFiles/TargetDirectories.txt
/we_all_belong/android/app/.cxx/Debug/5h6e2320/x86_64/CMakeFiles/TargetDirectories.txt
